<div class="headerBarWrapper">
    <div class="orangeBar"></div>
    <div class="blackBar"></div>
</div>
<div class="menuWrapper">
    <ul>
        <li class="mtnImageStyle"><img src="assets/images/mtnLogo.png" /></li>
        <li>Store</li>
        <li>Products & Services</li>
        <li>Help & Support</li>
        <li class="searchPosition"><i class="fa fa-search"></i></li>
        <li class="personalPosition"><i class="fa fa-circle carousalCircle"></i>&nbsp; PERSONAL &nbsp;<i class="fa fa-angle-down"></i></li>
    </ul>
</div>