:host-context(.textStyle){
    position: relative;
    left: 19%;
    font-size: 19px;
    top:16px;
    width: 12%;
    display: inline-block;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    :host-context(.textStyle){
        left: 4%;
        width: 20%;
    }
}
@media only screen and (max-width: 767px) {
    :host-context(.textStyle){
        width: 100%;
        margin-bottom: 30px;
    }
}